<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/nav.ejs'); %>
    
    <div class="headDiv">
        <h1 class=pageHead>Your Campaigns</h1>
        <div id="creButDiv">
            <a class="ltab" href="/campaigns/new">Create A Campaign</a>
        </div>
    </div>


    
    <% if(camps.length != 0) { %>
        <% camps.forEach( (c, i) => { %>
            <div class='campDiv backgroundDiv'>
                
                <% if(c.dm == user._id ) { %>
                    
                    <div>
                        <a class=htal href='/campaigns/<%= c._id %>'><h3><%= c.name %></h3></a>
                    </div>
                        <div>
                            <div><h2>Players</h2></div>
                            <div>
                                <% if(c.players.length !== 0) { %>
                                    <% c.players.forEach( p => { %>
                                        <h4><%=p.playerId.username %></h4>

                                    <% }); %>
                                <% } else { %>
                                    <h4>No Players Currently</h4>
                                <% } %>

                            </div>
                        </div>

                <% } else { %>
                    <div>
                        <a class=htal href='/campaigns/<%= c._id %>'><h3><%= c.name %></h3></a>
                    </div>
                        <div>
                            <div><h2>Players</h2></div>
                            <div>
                                <% if(c.players.length !== 0) { %>
                                    <% c.players.forEach( p => { %>
                                        <h4><%=p.playerId.username %></h4>

                                    <% }); %>
                                <% } else { %>
                                    <h4>No Players Currently</h4>
                                <% } %>

                            </div>
                        </div>


                        
                
                <% } %> <!-- p.playerId-->
            </div>
        <% }); %> <!-- forEach()-->
    <% } %> <!-- If camps !=0 -->

    
</body>
</html>