<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1><%= camp.name %></h1>

    <% if(camp.dm.equals(user._id)) { %> 
        <form action="/campaigns/sendRequest" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="hidden" name="id" value="<%= camp._id %>">
            <input type="submit" value="Invite Player">
        </form>
    <% } %>
    
   

    <form action="/characters/joinCampaign" method="POST">
        <select name="charId">
        <% user.characters.forEach( (char, i) => { %> 
            <option value="<%= char._id %>"><%= char.name %></option>

        <% }); %>
        </select>
        <input type="hidden" name="campId" value="<%= camp._id %>">
        <input type="submit" value="Add to Campaign">
    </form>
        
</body>
</html>