<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/nav.ejs'); %>
    <div class="headDiv">
        <h1 class="pageHead">Your Characters</h1>
        <div id="creButDiv">
            <a class="ltab" href="/characters/new">Create A Character</a>
        </div>
    </div>
    
    <% if(chars.length != 0) { %>
        <% chars.forEach( (c, i) => { %>
            <div class="characterDiv backgroundDiv">
                <div class=sCharTop>
                    <div class="charName">
                        <a class="htal" href='/characters/<%= c._id %>'><h3><%= c.name %></h3></a>
                    </div>
                    
                    <div class=basicCharInfo>
                        <h4>Lvl: <%=c.level%></h4>
                        <h4><%=c.race%></h4>
                        <h4><%=c.class%></h4>
                        <h4>Alignment: <%=c.alignment%></h4>
                    </div>
                </div>

                <div class="statContainer">
                    <div class="combatStats">
                        <h5>HP: <%=c.hp.cur%>/<%=c.hp.max%></h5>
                        <h5>AC: <%=c.ac%></h5>
                        <h5>DC: <%=c.dc%></h5>
                    </div>

                    <div class="stats">
                        <div class="indStat">
                            <h4>+<%=c.stats.str.mod%></h4>
                            <h5><%=c.stats.str.val%></h5>
                            <h5>Strength</h5>
                        </div>

                        <div class="indStat">
                            <h4>+<%=c.stats.dex.mod%></h4>
                            <h5><%=c.stats.dex.val%></h5>
                            <h5>Dexterity</h5>
                        </div>

                        <div class="indStat">
                            <h4>+<%=c.stats.con.mod%></h4>
                            <h5><%=c.stats.con.val%></h5>
                            <h5>Constitution</h5>
                        </div>

                        <div class="indStat">
                            <h4>+<%=c.stats.int.mod%></h4>
                            <h5><%=c.stats.int.val%></h5>
                            <h5>Intelligence</h5>
                        </div>

                        <div class="indStat">
                            <h4>+<%=c.stats.wis.mod%></h4>
                            <h5><%=c.stats.wis.val%></h5>
                            <h5>Wisdom</h5>
                        </div>

                        <div class="indStat">
                            <h4>+<%=c.stats.cha.mod%></h4>
                            <h5><%=c.stats.cha.val%></h5>
                            <h5>Charisma</h5>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } %>
</body>
</html>